title = "Open Component Model"
baseurl = "https://ocm.software"
canonifyURLs = false
disableAliases = true
disableHugoGeneratorInject = true
# disableKinds = ["taxonomy", "term"]
enableEmoji = true
enableGitInfo = false
enableRobotsTXT = true
languageCode = "en-US"
rssLimit = 10
summarylength = 20 # 70 (default)

# Multilingual
defaultContentLanguage = "en"
disableLanguages = ["de", "nl"]
defaultContentLanguageInSubdir = false

repoHost = "GitHub"
docsRepo = "https://github.com/open-component-model/ocm-website"
docsRepoBranch = "main"
docsRepoSubPath = ""
editPage = false
lastMod = false

[pagination]
  pagerSize = 10

[params]
  social = true

[build.buildStats]
  enable = true

[outputs]
  home = ["HTML", "RSS", "searchIndex"]
  section = ["HTML", "RSS", "SITEMAP"]

[outputFormats.searchIndex]
  mediaType = "application/json"
  baseName = "search-index"
  isPlainText = true
  notAlternative = true

# Add output format for section sitemap.xml
[outputFormats.SITEMAP]
  mediaType = "application/xml"
  baseName = "sitemap"
  isHTML = false
  isPlainText = true
  noUgly = true
  rel  = "sitemap"

[sitemap]
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.5

[caches]
  [caches.getjson]
    dir = ":cacheDir/:project"
    maxAge = -1 # "30m"

[taxonomies]
  contributor = "contributors"
  category = "categories"
  tag = "tags"

[permalinks]
  docs = "/docs/:sections[1:]/:title/"

[minify.tdewolff.html]
  keepWhitespace = false

[related]
  threshold = 80
  includeNewer = true
  toLower = false
    [[related.indices]]
      name = "categories"
      weight = 100
    [[related.indices]]
      name = "tags"
      weight = 80
    [[related.indices]]
      name = "date"
      weight = 10

[imaging]
  anchor = "Center"
  bgColor = "#ffffff"
  hint = "photo"
  quality = 85
  resampleFilter = "Lanczos"

# Versions (Hugo >= 0.153.0)
# Render the default version into its own subdirectory (e.g., /0.1.0/ when defaultContentVersion = "0.1.0")
defaultContentVersionInSubdir = false

# Default version is marked as "default" in version switcher. When holding a valid SemVer Hugo builds it into
# the root of the website. BUT as long as we have non-SemVer version names, we have to rely on a "weight" attribute for every version.
# Once we are on OCM v2, the latest release will become the new defaultContentVersion. "dev" will then get weight 1 to be listed first.
defaultContentVersion = "legacy"

[versions]
  [versions."legacy"]
    weight = 1
  [versions."dev"]
    weight = 2
