{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<main class="docs-content col-lg-12 mx-xl-auto">
			{{ if .Site.Params.options.breadCrumb -}}
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						{{ partial "main/breadcrumb" . -}}
						<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
					</ol>
				</nav>
			{{ end }}
			<h1>{{ .Title }}</span></h1>
			<p class="lead">{{ .Params.lead | safeHTML }}</p>
			{{ if ne .Params.toc false -}}
			<nav class="d-xl-none" aria-label="Quaternary navigation">
				{{ partial "sidebar/docs-toc.html" . }}
			</nav>
			{{ end -}}
			{{ .Content }}
			<div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
				{{ if .Site.Params.lastMod -}}
					{{ partial "main/last-modified.html" . }}
				{{ end -}}
				{{ if .Site.Params.editPage -}}
					{{ partial "main/edit-page.html" . }}
				{{ end -}}
			</div>
			{{ partial "main/docs-navigation.html" . }}
		</main>
	</div>
{{ end }}
