<!-- Auto collapsible section menu -->
<ul class="list-unstyled collapsible-sidebar mt-0 mb-0">
  {{ $currentPage := . -}}
  {{ $section := $currentPage.Section -}}
  {{ range (where .Site.Sections "Section" "in" $section) }}
    <ul class="list-unstyled ms-0 mt-5 mb-0">
    {{ range .Pages }}
          {{ if not .IsNode }}
            {{ $active := in $currentPage.RelPermalink .RelPermalink }}
            <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Name }}</a></li>
          {{ end }}
    {{ end }}
    </ul>
    {{ range .Sections }}
      {{ $active := in $currentPage.RelPermalink .RelPermalink }}
      <li class="mb-0 mt-0">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
          <h3 class="h6 text-capitalize pt-2 mt-0 mb-0">{{ .Title }}</h3>
        </button>
        <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
          <hr class="mt-1 mb-1">
          <ul class="btn-toggle-nav list-unstyled mb-0">
            {{ range .Pages }}
              {{ if .IsNode }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                <li class="ms-0">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                    <h6 class="h6 text-lowercase text-muted mt-1 mb-1">{{ .Title }}</h5>
                  </button>
                  <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                    <ul class="btn-toggle-nav list-unstyled mb-0">
                      {{ range .Pages }}
                        {{ if .IsNode }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          <li class="ms-2">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                              {{ .Title }}
                            </button>
                            <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                              <ul class="btn-toggle-nav list-unstyled mb-0">
                                {{ range .Pages }}
                                  {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                  <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                              </ul>
                            </div>
                          </li>
                        {{ else }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                      {{ end }}
                    </ul>
                  </div>
                </li>
              {{ else }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>
