{{ define "main" }}
{{ $paginator := .Paginate (.Data.Pages) -}}
{{ $lead := index $paginator.Pages 0 }}
<div class="row row-cols-1 mx-1">
  <div class="col">
    <div class="card">
      <div class="row justify-content-around no-gutters">
        <div class="col-md-6">
          {{- .Scratch.Set "fillImage" "1270x620 Center" -}}
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <article>
              <h2 class="h3">
                  <a class="stretched-link text-white" href="{{ $lead.RelPermalink }}">
                    {{ $lead.Params.title }}
                  </a>
              </h2>
              <small>{{ $lead.Params.date.Format "January 2, 2006" }}</small>
              <p>{{ $lead.Params.excerpt | safeHTML }}</p>
            </article>
          </div>
          <div class="card-footer justify-content-end">
            {{ range $tag := $lead.Params.tags -}}
              <span class="tag">{{ $tag }}</span>
            {{ end -}}
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-lg-3 g-lg-5">
  {{ range $i, $page := $paginator.Pages -}}
    {{ if gt $i 0 }}
    <div class="col">
      <div class="card">
        {{- .Scratch.Set "fillImage" "1270x620 Center" -}}
        <div class="card-body">
          <article>
            <h2 class="h3"><a class="stretched-link text-body" href="{{ $page.RelPermalink }}">Blog {{ $page.Params.title }}</a></h2>
            <p>{{ $page.Params.excerpt | safeHTML }}</p>
          </article>
        </div>
      </div>
    </div>
    {{ end -}}
  {{ end -}}
</div>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    {{ $.Scratch.Set "paginator" true }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
