table {
  @extend .table;

  margin: 3rem 0;

  thead {
    border-bottom-color: $secondary-blue;
  }

  tr {
    color: $white;
    background-color: lighten($body-bg,4%);
  }

  tbody tr:nth-child(odd) {
    background-color: $gray-700;
    color: #fff;
  }

  a {
    color: $link-color;
  }
}

