{{ define "main" }}
  <div class="wrap container" role="document">
    <div class="content">
      <div class="row flex-xl-nowrap justify-content-center">
        <!-- change this to 9/12 width, offset 1 -->
        <div class="col-12 col-xl-9 offset-xl-1 docs-content">
          {{ .Content }}
        </div>
        <!-- TOC stays at 3/12 -->
        <aside class="col-xl-3 docs-toc d-none d-xl-block">
          {{ if .TableOfContents }}
            <h2 class="toc-title">On this page</h2>
            {{ .TableOfContents }}
          {{ end }}
        </aside>
      </div>
    </div>
  </div>
{{ end }}
