{{ define "main" }}
  <div class="wrap container" role="document">    <!-- fixed-width container, centered -->
    <div class="content">
      <div class="row flex-xl-nowrap justify-content-center">
        <!-- Main content: 9/12 on XL+, full width below XL -->
        <div class="col-12 col-xl-9 docs-content order-2 order-xl-1">
          {{ .Content }}
        </div>
        <!-- TOC: 3/12 on XL+, hidden below XL -->
        <aside class="col-xl-3 docs-toc d-none d-xl-block order-1 order-xl-2">
          {{ if .TableOfContents }}
            {{ .TableOfContents }}
          {{ end }}
        </aside>
      </div>
    </div>
  </div>
{{ end }}
