{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <div class="d-flex justify-content-center mb-4 font-logo text-default">
        <div class="d-flex align-items-center" style="width: 500px;">
          <div style="flex: 0 0 100px;">
            <div style="transform: scale(1.3); transform-origin: right;">
              {{ partial "inline-svg.html" (dict "src" "ocm-logo-icon-colour") }}
            </div>
          </div>
          <div style="flex: 1.5;">
            {{ partial "inline-svg.html" (dict "src" "ocm-logo-text") }}
          </div>
        </div>
      </div>

      <div class="mb-5"></div>

      <p class="text-default leader-open-source-text">
        {{ .Params.leader_open_source_text }}
        {{ if ne site.Params.doks.docsVersion "dev" }}
        <a href="https://github.com/open-component-model/ocm/releases/tag/{{ .Site.Params.latest_version }}" class="text-link">
          GitHub {{ .Site.Params.latest_version }}
        </a>
        {{ end }}
      </p>
      {{ .Content }}
      <p class="mb-1">
        <a href="https://bestpractices.coreinfrastructure.org/projects/7156">
          <img src="https://bestpractices.coreinfrastructure.org/projects/7156/badge">
        </a>
      </p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}

  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <section class="section container-fluid mt-n3 pb-3">
          <h1 class="h1 font-weight-bold mb-2 text-default">{{ .Params.headline1 }}</h1>
          <h1 class="h1 font-weight-bold mb-4 text-default">{{ .Params.headline2 }}</h1>
          <h2 class="h2 font-italic mb-5 mt-0 text-muted">{{ .Params.subheadline }}</h2>
          <p class="lead mb-2 text-default">{{ .Params.intro1 }}</p>
          <p class="lead mb-2 text-default"><strong>{{ .Params.intro2 }}</strong></p>
          <p class="lead mb-5 text-default">{{ .Params.intro3 }}</p>
          <a class="btn btn-primary btn-lg rounded-pill px-5 mb-6" href="{{ ref . "docs/getting-started/" }}" role="button">{{ .Params.cta_text }}</a>
        </section>
      </div>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
<section id="how ocm works" class="section container-fluid">
  <div class="container">
    <div class="row justify-content-center text-center">
      <h1 class="h1 text-center mb-5 text-default">{{ .Params.how_ocm_works_title }}</h1>
      {{- $howCardsMaxColumns := default 4 .Params.how_ocm_works_cards_max_columns -}}
      {{ partial "cards/cards-grid.html" (dict "items" .Params.how_ocm_works "cards_max_columns" $howCardsMaxColumns "cards_variant" "home" "page" .) }}
    </div>
  </div>
</section>

<section id="benefits" class="section section-md section-features">
  <div class="container">
    <h2 class="h1 text-center mb-5 text-default">{{ .Params.benefits_title }}</h2>
    {{- $benefitsMaxColumns := default 4 .Params.benefits_cards_max_columns -}}
    {{ partial "cards/cards-grid.html" (dict "items" .Params.benefits "cards_max_columns" $benefitsMaxColumns "cards_variant" "home" "page" .) }}
  </div>
</section>
{{ end }}
