{{ define "main" }}
{{ $image := resources.Get "images/logo_transparent.png" }}
<section class="section container-fluid mt-n4">
  <div class="row justify-content-center"> </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-5">
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
