name: Verify HTML

on:
  pull_request:
    branches:
      - main

jobs:
  check-links:
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0 # keep in sync with 'engines'@package.json
      - name: Install Dependencies
        run: npm install
      - name: Build Site
        run: npm run build
      - name: Verify HTML links
        uses: untitaker/hyperlink@0.1.44
        with:
          args: public/ --sources content/