// Put your custom SCSS code here
.container-fw {
    // max-width: 1200px;
    max-width: 100%;
    padding-left: 1rem;

    .docs-content {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    .docs-toc {
        margin-left: 3rem !important;
        margin-right: 0rem !important;
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}

.navbar {
    background: #233545;
    background-color: #233545 !important; // important is added so the dark CSS template doesn't overwrite this value.
}

// forces the single page look like a list page
.list.section.docs .content {
    padding-top: 0;
    padding-bottom: 0;
}


.content img {
    max-width: 100%;
    height: auto;
}
